nav(class="navbar navbar-expand navbar-light bg-light")
    a(class="navbar-brand" href="/") TournaMint
    ul(class="navbar-nav")
        li(class="nav-item align-middle")
            a.nav-link(href="/roster") Roster